apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "masa-oracle.fullname" . }}
  labels:
    {{- include "masa-oracle.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "masa-oracle.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "masa-oracle.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "masa-oracle.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/app/masa-node"]
          {{- if .Values.multiaddress }}
          args: ["{{ .Values.multiaddress }}"]
          {{- end }}
          env: {{ toYaml .Values.env | nindent 10 }}
          ports:
          - name: udpexpose
            containerPort: 4001
            protocol: udp
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.gcpEnvSecret }}
          envFrom:
          - secretRef:
              name: {{ include "masa-oracle.fullname" . }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
