name: release

on:
  push:
    branches:
      - main
      - test
      - dev
      - Issue-187

permissions:
  id-token: write
  contents: write

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version from constants.go
        id: extract_version
        run: |
          VERSION=$(grep 'Version     = ' ./pkg/config/constants.go | awk '{print $NF}' | tr -d '"')
          echo "Extracted version: $VERSION"
          echo "::set-output name=version::$VERSION"

  release:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.prepare.outputs.version }}
          release_name: Release ${{ needs.prepare.outputs.version }}
          body_path: ./RELEASE_NOTES.md
          draft: false
          prerelease: false

